.sidebar {
    width: 200px;
    background-color: #ccc;
    display: flex;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar li {
    padding: 10px;
    border-bottom: 1px solid #999;
}

.main {
    width: calc(100% - 200px);
    height: 100%;
    margin-left: 200px;
    background-color: #fff;
}