.outerContainer {
    color: white
}
/* .create-game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .create-game-container > * {
    margin: 0 10px;
  }
  
  .slider {
    width: 300px;
  }
  
  
  .submit-button {
    width: 25%;
  } */
  